body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 22px;
}
h1{
  color: black;
  text-align: center;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
nav{
  text-align: center;
  padding: 10px;
  
}
a:link {
  color: blue;
}

a:visited {
  color: purple;
}

h3{
  text-align: center;
}
figcaption{
  font-size: smaller;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
 #featured-property p  {
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

p{
  color: black;
  text-align: center;
}
#details{
  
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  align-content:stretch ;
  
 

}
#details div {
  width: 25%;
  float :left;
  background-color: red


 
}